body html {
    height: 100%;
  }

  body {
    background: #493654 !important;
  }

  .form {
    display: flex !important;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column-reverse;
    
  }
  
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  border-radius: 2px;
  border: 0px;
  background-color: #372940;
}

.input:focus ~ .placeholder{
  transition-duration: 1s;
  transform: translateX(70px);
}

  .input:focus {
    outline: none;
    border: none;
  }

  .placeholder {
    transition-duration: 1s;
  }

  .placeholder {
    background: #493654 !important;
    cursor: default;
    display: flex;
    color: white;
    margin-bottom: 5px;
  }




